/*Alineando y dando tamaños a los H1*/

h1 {
    padding: 50px 0;
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: 600;
    

    @media (min-width: 1400px) {
        font-size: 70px;
    }

    @media (max-width: 856px) {
        padding: 30px 0;
    }

    @media (max-width: 768px) {
        font-size: 42px;
    }

    @media (max-width: 620px) {
        font-size: 40px;
        padding: 20px 0;
    }

    @media (max-width: 576px) {
        font-size: 35px;
        padding: 10px 0;
    }
}