/*Reduciendo el ancho del contenido main*/
main {
    width: 95%;
    margin: 130px auto 70px auto;
    padding-bottom: 50px;
    background-color: $color-fondo;

    @media (max-width: 768px) {
        margin-top: 70px;
    }

    @media (max-width: 620px) {
        margin-top: 40px;
    }
}
