/*Formato de encabezado*/
.header {
    top: 0;
    background-color: #1b3039;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 1;

    @media (max-width: 768px) {
        height: 70px;
    }

    @media (max-width: 620px) {
        height: 50px;
    }
}

/*Tamaño del logo principal*/
.logo {

    margin: 0 15px;
    cursor: pointer;

    @media (max-width: 1200px) {
        margin: 0 9px;
    }

    @media (max-width: 992px) {
        margin: 0 10px;
    }

    @media (max-width: 768px) {
        margin: 0 8px;
    }

    @media (max-width: 576px) {
        margin: 0 7px;
    }

    @media (max-width: 480px) {
        margin: 0 5px;
    }

    img {
    height: 80px;
    width: auto;
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
    }

    @media (max-width: 1200px) {
        height: 65px;
    }

    @media (max-width: 992px) {
        height: 55px;
    }

    @media (max-width: 856px) {
        height: 50px;
    }

    @media (max-width: 768px) {
        height: 42px;
    }

    @media (max-width: 620px) {
        height: 35px;
    }

    @media (max-width: 576px) {
        height: 30px;
    }

    @media (max-width: 480px) {
        height: 25px;
    }
    }

    a {
        display: flex;
    }
}

/*Quitar ítems de lista*/
.header .nav-links {
    list-style: none;
    display: flex;

    li {
        display: flex;
        margin: 0 19px;

        @media (max-width: 1200px) {
            margin: 0 11px;
        }

        @media (max-width: 992px) {
            margin: 0 10px;
        }

        @media (max-width: 768px) {
            margin: 0 6px;
        }

        @media (max-width: 576px) {
            margin: 0 5px;
        }

        @media (max-width: 480px) {
            margin: 0 4px;
        }
        }
 
    /*Formato links del nav*/
    a {
        text-decoration: none;
        color: white;
        font-size: 20px;
        &:hover{
            transform: scale(1.1);
            color: #ffbc0e;
        }

        @media (max-width: 1200px) {
            font-size: 18px;
        }

        @media (max-width: 992px) {
            font-size: 15px;
        }

        @media (max-width: 856px) {
            font-size: 14px;
        }

        @media (max-width: 768px) {
            font-size: 11px;
        }

        @media (max-width: 576px) {
            font-size: 9px;
        }

        @media (max-width: 480px) {
            font-size: 7px;
        }
        }
}

