/*Reacomodando los items de la lista de la página "Titulos"*/

.content-list {
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        width: 65%;
    }

 /*Dando formato a la lista de la página "Titulos"*/
    ul{
        list-style: none; 
        padding-left: 2%;
        
    }

    li {
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 0.5% 0;
      
    
        @media (max-width: 1400px) {
            font-size: 23px;
        }
    
        @media (max-width: 1200px) {
            font-size: 20px;
        }
    
        @media (max-width: 856px) {
            font-size: 15px;
        }
    
        @media (max-width: 768px) {
            font-size: 12px;
        }
    
        @media (max-width: 620px) {
            font-size: 11px;
        }
    
        @media (max-width: 576px) {
            font-size: 8px;
        }
    }   
}
   



/*Dando formato a los subtitulos de la página "Titulos"*/
.premios {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 30px;
    color: white;
    background-color: black;

    @media (max-width: 1400px) {
        font-size: 35px;
    }

    @media (max-width: 992px) {
        font-size: 29px;
    }

    @media (max-width: 856px) {
        font-size: 25px;
    }

    @media (max-width: 768px) {
        font-size: 20px;
    }

    @media (max-width: 620px) {
        margin-bottom: 45px;
        font-size: 17px;
    }

    @media (max-width: 576px) {
        margin-bottom: 30px;
        font-size: 12px;
    }

    @media (max-width: 480px) {
        margin-bottom: 30px;
        font-size: 12px;
    }
}