@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap");
/*reestableciendo margen,padding, border box y agregando fuente*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/*Cambiando color del body*/
body {
  /*background-color: #c4b6b691;*/
  background-color: rgba(0, 0, 0, 0.568627451);
}

/*Formato de encabezado*/
.header {
  top: 0;
  background-color: #1b3039;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
@media (max-width: 768px) {
  .header {
    height: 70px;
  }
}
@media (max-width: 620px) {
  .header {
    height: 40px;
  }
}

/*Tamaño del logo principal*/
.logo {
  margin: 0 15px;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .logo {
    margin: 0 9px;
  }
}
@media (max-width: 992px) {
  .logo {
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .logo {
    margin: 0 8px;
  }
}
@media (max-width: 576px) {
  .logo {
    margin: 0 7px;
  }
}
@media (max-width: 480px) {
  .logo {
    margin: 0 5px;
  }
}
.logo img {
  height: 80px;
  width: auto;
  transition: all 0.3s;
}
.logo img:hover {
  transform: scale(1.1);
}
@media (max-width: 1200px) {
  .logo img {
    height: 60px;
  }
}
@media (max-width: 992px) {
  .logo img {
    height: 55px;
  }
}
@media (max-width: 856px) {
  .logo img {
    height: 45px;
  }
}
@media (max-width: 768px) {
  .logo img {
    height: 32px;
  }
}
@media (max-width: 620px) {
  .logo img {
    height: 24px;
  }
}
@media (max-width: 576px) {
  .logo img {
    height: 25px;
  }
}
@media (max-width: 480px) {
  .logo img {
    height: 20px;
  }
}
.logo a {
  display: flex;
}

/*Quitar ítems de lista*/
.header .nav-links {
  list-style: none;
  display: flex;
  /*Formato links del nav*/
}
.header .nav-links li {
  display: flex;
  margin: 0 15px;
}
@media (max-width: 1200px) {
  .header .nav-links li {
    margin: 0 9px;
  }
}
@media (max-width: 992px) {
  .header .nav-links li {
    margin: 0 10px;
  }
}
@media (max-width: 768px) {
  .header .nav-links li {
    margin: 0 8px;
  }
}
@media (max-width: 576px) {
  .header .nav-links li {
    margin: 0 7px;
  }
}
@media (max-width: 480px) {
  .header .nav-links li {
    margin: 0 5px;
  }
}
.header .nav-links a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.header .nav-links a:hover {
  transform: scale(1.1);
  color: #ffbc0e;
}
@media (max-width: 1200px) {
  .header .nav-links a {
    font-size: 17px;
  }
}
@media (max-width: 992px) {
  .header .nav-links a {
    font-size: 15px;
  }
}
@media (max-width: 856px) {
  .header .nav-links a {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .header .nav-links a {
    font-size: 10px;
  }
}
@media (max-width: 620px) {
  .header .nav-links a {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  .header .nav-links a {
    font-size: 7px;
  }
}
@media (max-width: 480px) {
  .header .nav-links a {
    font-size: 6px;
  }
}

/*Reduciendo el ancho del contenido main*/
main {
  width: 95%;
  margin: 130px auto 70px auto;
  padding-bottom: 50px;
  background-color: #D8B08C;
}
@media (max-width: 768px) {
  main {
    margin-top: 70px;
  }
}
@media (max-width: 620px) {
  main {
    margin-top: 40px;
  }
}

/*Alineando y dando tamaños a los H1*/
h1 {
  padding: 50px 0;
  text-align: center;
  font-size: 45px;
}
@media (max-width: 1400px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 1200px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 856px) {
  h1 {
    font-size: 35px;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 30px;
  }
}
@media (max-width: 620px) {
  h1 {
    font-size: 22px;
    padding: 20px 0;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 15px;
    padding: 10px 0;
  }
}

/*Centrando Imagenes y videos de varias páginas*/
.center {
  width: 100%;
  margin: 40px 0;
}
@media (max-width: 620px) {
  .center {
    margin: 20px 0;
  }
}
@media (max-width: 576px) {
  .center {
    margin: 10px 0;
  }
}
.center video, .center img {
  width: inherit;
}

/*Personalizando los párrafos*/
.parrafo p {
  margin: 0 0;
  padding: 1% 2%;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .parrafo p {
    font-size: 22px;
  }
}
@media (max-width: 856px) {
  .parrafo p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .parrafo p {
    font-size: 15px;
  }
}
@media (max-width: 620px) {
  .parrafo p {
    font-size: 11px;
  }
}
@media (max-width: 576px) {
  .parrafo p {
    font-size: 8px;
  }
}

/*Reacomodando los item de la lista de la página "Titulos"*/
.list {
  padding-left: 3%;
  display: inline-block;
  /*Dando formato a la lista de la página "Titulos"*/
}
@media (max-width: 1400px) {
  .list {
    padding-left: 4%;
  }
}
@media (max-width: 768px) {
  .list {
    padding-left: 5%;
  }
}
@media (max-width: 576px) {
  .list {
    padding-left: 7%;
  }
}
.list li {
  font-size: 25px;
  font-weight: 600;
}
@media (max-width: 1400px) {
  .list li {
    font-size: 30px;
  }
}
@media (max-width: 1200px) {
  .list li {
    font-size: 25px;
  }
}
@media (max-width: 856px) {
  .list li {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .list li {
    font-size: 16px;
  }
}
@media (max-width: 620px) {
  .list li {
    font-size: 14px;
  }
}
@media (max-width: 576px) {
  .list li {
    font-size: 10px;
  }
}

/*Dando formato a los subtitulos de la página "Titulos"*/
.premios {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 80px;
  padding-bottom: 2%;
  font-size: 30px;
  color: #000000;
  text-shadow: -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, -4px 5px #808d93, -5px 4px #cdd2d5, -5px 6px #808d93, 2px 2px 2px rgba(206, 89, 55, 0);
}
@media (max-width: 1400px) {
  .premios {
    font-size: 35px;
  }
}
@media (max-width: 856px) {
  .premios {
    font-size: 27px;
  }
}
@media (max-width: 768px) {
  .premios {
    font-size: 25px;
  }
}
@media (max-width: 768px) {
  .premios {
    font-size: 20px;
  }
}
@media (max-width: 620px) {
  .premios {
    margin-bottom: 45px;
    font-size: 18px;
    text-shadow: -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, 2px 2px 2px rgba(206, 89, 55, 0);
  }
}
@media (max-width: 576px) {
  .premios {
    margin-bottom: 40px;
    font-size: 12px;
    text-shadow: -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, 2px 2px 2px rgba(206, 89, 55, 0);
  }
}
@media (max-width: 480px) {
  .premios {
    margin-bottom: 30px;
    font-size: 12px;
    text-shadow: -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5, 2px 2px 2px rgba(206, 89, 55, 0);
  }
}

/*Dando formato a los titulos de video de la página "Extras"*/
.titulo-video {
  text-align: center;
  margin-top: 100px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  text-decoration: underline;
}
@media (max-width: 992px) {
  .titulo-video {
    font-size: 25px;
    margin-top: 50px;
  }
}
@media (max-width: 856px) {
  .titulo-video {
    font-size: 23px;
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .titulo-video {
    font-size: 20px;
    margin-top: 50px;
  }
}
@media (max-width: 620px) {
  .titulo-video {
    font-size: 15px;
    margin-top: 40px;
  }
}
@media (max-width: 576px) {
  .titulo-video {
    font-size: 10px;
    margin-top: 30px;
  }
}

/*Grid book de fotos*/
.book {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin: 100px 0;
  gap: 10px;
  background-color: black;
  /*Personalizando imágenes book de fotos*/
}
@media (max-width: 992px) {
  .book {
    margin: 40px 0;
  }
}
@media (max-width: 856px) {
  .book {
    margin: 30px 0;
    gap: 5px;
  }
}
.book img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*Personalizando sección de la página records*/
.records {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0;
  /*Personalizando párrafos de la sección de la página records*/
}
@media (max-width: 992px) {
  .records {
    margin: 20px 0;
  }
}
.records p {
  background-color: rgb(52, 84, 88);
  color: white;
  width: 250px;
  height: 185px;
  padding: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 25px;
  font-weight: 400;
  margin: 10px 25px;
  border-radius: 10px;
}
@media (max-width: 992px) {
  .records p {
    width: 200px;
    height: 140px;
    font-size: 20px;
  }
}
@media (max-width: 856px) {
  .records p {
    width: 170px;
    height: 100px;
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .records p {
    width: 140px;
    font-size: 14px;
    font-weight: 400;
  }
}
@media (max-width: 620px) {
  .records p {
    width: 120px;
    height: 85px;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .records p {
    width: 100px;
    height: 70px;
    font-size: 10px;
    font-weight: 200;
  }
}

/*Personalizando el pie de página*/
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 95%;
  height: 80px;
  margin: 0 auto;
  background-color: #0F6466;
  color: #08093d;
}
@media (max-width: 620px) {
  .footer {
    height: 60px;
  }
}
@media (max-width: 576px) {
  .footer {
    height: 50px;
  }
}
@media (max-width: 1200px) {
  .footer h3 {
    font-size: 15px;
  }
}
@media (max-width: 856px) {
  .footer h3 {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .footer h3 {
    font-size: 11px;
  }
}
@media (max-width: 620px) {
  .footer h3 {
    font-size: 8px;
  }
}
@media (max-width: 576px) {
  .footer h3 {
    font-size: 6px;
  }
}

/*Personalizando logo de pie de página*/
.logo-footer img {
  width: 40px;
  height: auto;
  margin: 0 5px;
}
.logo-footer img:hover {
  transform: scale(1.2);
}
@media (max-width: 1200px) {
  .logo-footer img {
    width: 30px;
  }
}
@media (max-width: 992px) {
  .logo-footer img {
    width: 25px;
  }
}
@media (max-width: 768px) {
  .logo-footer img {
    width: 20px;
  }
}
@media (max-width: 620px) {
  .logo-footer img {
    width: 15px;
  }
}
@media (max-width: 576px) {
  .logo-footer img {
    width: 10px;
    margin: 0 3px;
  }
}

.contentCarrusel {
  height: 600px;
  overflow: hidden;
}

.itemCarrusel {
  position: relative;
  height: inherit;
  width: 85%;
  margin: 0 auto;
  background-color: black;
}

.tarjetaCarrusel {
  height: inherit;
  display: flex;
}
.tarjetaCarrusel img {
  margin: auto auto;
  max-width: 100%;
  max-height: 100%;
}

.flechasCarrusel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
}
.flechasCarrusel a {
  text-decoration: none;
  font-size: 50px;
  color: white;
  -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px;
}
.flechasCarrusel a:hover {
  transform: scale(1.3);
}/*# sourceMappingURL=style.css.map */